<div class= 'content'>
  <div class= 'title'>
    タイトル：flexboxの使い方がよくわかりません
  </div>
  <div class= 'comment'>
    内容：要素を横に並べたいのですが、どうしても縦のままになってしまいます。どこがおかしいのかアドバイスをいただけないでしょうか？
  </div>
  <div class= 'name'>青木</div>
</div>

<div class= 'content'>
  <div class= 'title'>
    タイトル：CSSの設定が反映されません
  </div>
  <div class= 'comment'>
    内容：CSSでフォントサイズを設定したのですがブラウザで見ても反映されません。どのような不具合が考えられますか
  </div>
  <div class= 'name'>山崎</div>
</div>



Message.create(name: "青木", title: "flexboxの使い方がよくわかりません", comment: "要素を横に並べたいのですが、どうしても縦のままになってしまいます。どこがおかしいのかアドバイスをいただけないでしょうか？")